* {
  margin: 0;
  padding: 0;
  border: 0;
}

/********************** bookroom siden starter her ****************/
.knapFremOgTilbage {
  margin-top: 50px;
}
.RoomCards1234 {
  margin: 0 50px;
  padding: 20px 10px 20px 10px;
}
.h4-choose-room{
  margin-left: 55px;
  margin-top: 50px;
}
.bookroom-steps{
  margin-top: 20px;
}
/********************* bookroom siden slutter her ****************/



/********************* reservation siden starter her *************/
.reservation-steps{
  margin-top: 20px;
}
.reservation-info{
  margin: 50px 0 0 55px;
}
.knapTilbageOgConfirm{
  margin: 300px 0;
}
/******************** reservation siden slutter her ***************/

header {
  height: 100px;
  background-color: #1864ab;
  display: flex;
  align-items: center;
}

header img {
  height: 80%;
  padding-left: 13px;
}
