* {
  margin: 0;
  padding: 0;
  border: 0;
}

.knapFremOgTilbage {
  margin-top: 50px;
}
.RoomCards1234 {
  margin: 50px;
  padding: 20px 10px 20px 10px;
}

header {
  height: 100px;
  background-color: #1864ab;
  display: flex;
  align-items: center;
}

header img {
  height: 80%;
  padding-left: 13px;
}
